<!DOCTYPE html>
<html>
  <head>
    <title>Direct Post Sample App</title>
    <style>
    body {
      text-align: center;
      font-family: Helvetica;
    }
    label {
      display: block;
    }
    
    input, select{
		outline:none;
	}
	
    </style>
  </head>
  <body>
  	<header>			
	<div class="headerblank">
        <div class="main">
        <!-- Header Top starts -->	
<style>
.nav {
	font-size:14px;
	margin:25px 0;
}
</style>


</header>
    <%= yield %>
  </body>
</html>