<section>
	<div class="main marTB40 popup_Content">
		<%= form_tag({:controller => 'text_information', :action => ''}, :id => 'text_information', :name => 'text_information') do %>
		hh
		<%end%>
	</div>
</section>
